grant {
permission java.security.AllPermission;


// to give the client the necessary permissions to have dynamic access to the stub classes.
      The policy file, in general, is used to determine the permissions of distributed applications.
      For now, for simplicity, the policy file given above provides all possible rights.
      Later, of course, we will be very careful in defining the policy file, including only the
      minimum amount of permissions needed by the application for its operation.

};